
@{
    ViewBag.Title = "How it works";
}

    <h1 class="display-4 pt-3 text-center">The FODFinder <a class="font-weight-bold">Algorithm</a></h1>
<hr />
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2 class="pt-3">Why is a food rated as <a class="font-weight-bold">High</a> FODMAP?</h2>
        <div class="container">
            <h4><small class="text-muted">A food rated as "High FODMAP" contains at least one known High FODMAP food in the first 98% of ingredients. While everyone is unique, any food listed as high FODMAP is likely to cause discomfort and other accompanying symptoms if eaten by someone with IBS.</small></h4>
        </div>

        <h2 class="pt-3">Why is a food rated as <a class="font-weight-bold">Medium</a> FODMAP?</h2>
        <div class="container">
            <h4><small class="text-muted">A food with a "Medium FODMAP" rating should most likely still be avoided by IBS sufferers or anyone attempting a low FODMAP diet. If a high FODMAP ingredient is found in only 2% or less of the food, then it will be labeled as a medium FODMAP food</small></h4>
        </div>

        <h2 class="pt-3">Why is a food rated as <a class="font-weight-bold">Low</a> FODMAP?</h2>
        <div class="container">
            <h4><small class="text-muted">Info here</small></h4>
        </div>
    </div>
</div>