body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.LoadingWrapper {
    transition: all 1s ease;
}

.LoadingBlur {
    filter: blur(5px);
}