
@{
    ViewBag.Title = "What is IBS?";
}

<h1 class="display-4 pt-3 text-center">IBS<a class="font-weight-bold">FAQs</a></h1>
<hr />
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2>
            What is IBS?
        </h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    IBS stands for irritable bowel syndrome. It is characterized by a symptom complex of abdominal pain acompannied with abnormal bowel habits, such as diarrhea, constipation, or both simultaneously [<a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1440-1746.2009.06120.x">1</a>]. It is part of a larger group of gastrointestinal diseases known as functional bowel disorders, or FDB, but an exact definition does not yet exist since some of the symptoms present differentiate it from other FDB [<a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1440-1746.2009.06120.x">1</a>].
                </small>
            </h4>
        </div>

        <h2 class="pt-3">
            What are some common symptoms?
        </h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    There are many symptoms associated with IBS, including but not limited to:
                </small>
            </h4>
            <ol class="text-muted">
                <li>
                    Abdominal cramps,
                </li>
                <li>
                    Bloating,
                </li>
                <li>
                    Flatus,
                </li>
                <li>
                    Diarrhea and
                </li>
                <li>
                    Constipation [<a href="https://www.mayoclinic.org/diseases-conditions/irritable-bowel-syndrome/symptoms-causes/syc-20360016">2</a>]
                </li>
            </ol>
            <h4>
                <small class="text-muted">
                    Additionally, these symptoms vary widely in severity, ranging from mild inconvienience to debilitating illness.
                </small>
            </h4>
        </div>

        <h2 class="pt-3">
            Where can I learn more?
        </h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    For more information, please visit the following sites:
                </small>
            </h4>
            <ol class="text-muted">
                <li>
                    <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1440-1746.2009.06120.x">
                        Irritable bowel syndrome: Epidemiology, diagnosis and treatment: An update for health‐care practitioners
                    </a>
                </li>
                <li>
                    <a href="https://www.mayoclinic.org/diseases-conditions/irritable-bowel-syndrome/symptoms-causes/syc-20360016">
                        Irritable bowel syndrome
                    </a>
                </li>
            </ol>
        </div>

        <h2 class="pt-3">
            Disclaimer.
        </h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    We are not medical professionals. We are not responsible for what may happen if you follow the advice listed on this site. If you have any serious concerns, please consult your doctor.
                </small>
            </h4>
        </div>
    </div>
</div>