
@{
    ViewBag.Title = "Index";
}
<div class="containter-fluid p-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h3>
                This Baby Deathclaw couldn't find what you were looking for...
            </h3>
        </div>
    </div>
</div>