
@{
    ViewBag.Title = "Index";
}
<div class="containter-fluid p-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h3>
                Mr. Water Drop couldn't find what you were looking for...
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div id="mrWaterDrop" class="d-flex justify-content-center">
                <img src="~/Images/WaterDrop.png" />
            </div>
        </div>
    </div>
</div>