@model IEnumerable<FODfinder.Models.UserList>

@{
    ViewBag.Title = "My Lists";
}

<div class="container-fluid pt-5 pb-5 rounded bg-secondary w-75">
    <div class="row justify-content-center">
        <h1 class="text-gray">My Lists</h1>
    </div>
    <div class="container pt-2">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <div class="list-group">
                    <div class="list-group-item bg-secondary FoodLink" onclick="location.href='/UserLists/Create'">
                        <div class="row text-dark justify-content-center">
                            <h5 class="mb-0">Create New List</h5>
                        </div>
                    </div>
                </div>
                @foreach (var list in Model)
                {
                    <div class="list-group">
                        <div class="list-group-item FoodLink p-2"` onclick="location.href='/SavedFoods/Index/@list.listID'">
                            <div class="row text-gray justify-content-center">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 text-center align-self-center">
                                    <h5 class="mb-0">@list.listName</h5>
                                </div>
                                <div class="col-sm-3 text-right align-self-center">
                                    @Html.ActionLink("Delete", "Delete", new { id = list.listID }, new { @class = "btn btn-light" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
