@model FODfinder.Models.Quote
@{
    ViewBag.Title = "404 - Not Found";
}

<div class="container-fluid pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-secondary text-gray text-center">
                    <h4>
                        Hmmm.....you seem lost
                    </h4>
                </div>
                <div class="card-body text-muted text-center">
                    <h5 class="pb-3">
                        We couldn't find what you're looking for.
                        Try following one of the navigation links above, or explore our home page
                    </h5>
                    <div class="text-gray font-weight-bold">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-light btn-lg mr-auto p-2 text-gray font-weight-bold h2" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="text-gray p-5">
            <h5>
                <span class="font-italic">@Model.Body</span> - @Model.Author
            </h5>
        </div>
    </div>
</div>