@model FODfinder.Models.IndexViewModel
@{
    ViewBag.Title = "My Account";
}

<div class="container-fluid pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow">
                <div class="card-header bg-secondary text-gray text-center">
                    <h4>Manage Account Settings</h4>
                </div>
                <div class="card-body d-flex justify-content-center">
                    @Html.ActionLink("Change my password", "ChangePassword")
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>
