
@{
    ViewBag.Title = "CommonFodmap";
}

<h1 class="display-4 pt-3 text-center">Common FODMAP Ingredients</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2 class="pt-3">What kinds of foods are high FODMAP?</h2>
        <div class="container">
            <h4><small class="text-muted">Each item from our food search should highlight any high FODMAP ingredients, but we also have provided a list of high risk ingredients that you can look out for when reading a food label.</small></h4>
        </div>

        <h2 class="pt-3">Common High FODMAPs</h2>
        <div class="container">
            <ol class="text-muted">
                <li>Milk and Milk products (buttermilk, ice cream, yogurt, etc)</li>
                <li>Honey</li>
                <li>Garlic</li>
                <li>Wheat/Gluten</li>
                <li>High Fructose Corn Syrup</li>
                <li>Beans and lentils</li>
                <li>Sausage and Salami</li>
                <li>Various fruits and vegetables</li>
            </ol>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-4">
        <h2 class="pt-3">High FODMAP Fruits</h2>
        <div class="container">
            <ol class="text-muted">
                <li>Watermelon</li>
                <li>Peaches</li>
                <li>Figs</li>
                <li>Blackberries</li>
                <li>Plums</li>
                <li>Prunes</li>
                <li>Mangoes</li>
                <li>Apples</li>
                <li>Pears</li>
                <li>Avocados</li>
            </ol>
        </div>
    </div>
    <div class="col-sm-4">
        <h2 class="pt-3">High FODMAP Veggies</h2>
        <div class="container">
            <ol class="text-muted">
                <li>Onions</li>
                <li>Mushrooms</li>
                <li>Leeks</li>
                <li>Peas</li>
                <li>Shallots</li>
                <li>Brussel Sprouts</li>
                <li>Artichokes</li>
                <li>Cauliflower</li>
                <li>Broccoli</li>
            </ol>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2 class="pt-3">What about ingredients that aren't on this list?</h2>
        <div class="container">
            <h4><small class="text-muted">Our master list can be found <a href="~/FODMAPIngredients/Browse">here</a>, or if you find something that you think is high risk, you can label an ingredient by clicking on it in on a food details page.</small></h4>
        </div>
    </div>
</div>
