
@{
    ViewBag.Title = "What's a FODMAP?";
}

<h1 class="display-4 pt-3 text-center">FOD<a class="font-weight-bold">FAQs</a></h1>
<hr />
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2>What is a FODMAP?</h2>
        <div class="container">
            <h4><small class="text-muted">Fermentable oligosaccharides, disaccharides, monosaccharides, and polyols, or FODMAPs, are groups of short-chain carbohydrates that are not well absorbed during digestion (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3388522/">1</a>). They include many common foods and ingredients like apples, honey, high fructose corn syrup, lactose, and most beans to name a few (<a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1440-1746.2009.06149.x">2</a>).</small></h4>
        </div>

        <h2 class="pt-3">What do FODMAPs do in the digestive system?</h2>
        <div class="container">
            <h4><small class="text-muted">FODMAPs are grouped together because of their common traits.</small></h4>
            <ol class="text-muted">
                <li>They are very quickly fermented by bacteria in the gut, this creates gases that result in burping and flatulence.</li>
                <li>They pass through the small intestine mostly unabsorbed.</li>
                <li>They are "osmotically-active" molecules, causing them to draw excess water into the digestive tract (<a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1440-1746.2009.06149.x">2</a>).</li>
            </ol>
        </div>

        <h2 class="pt-3">Why should I avoid FODMAPs?</h2>
        <div class="container">
            <h4><small class="text-muted">Well actually... most people don't need to avoid foods high in FODMAPs at all. However, many people with functional gastrointestinal disorders like IBS are more adversely affected by FODMAP consumption, and studies have shown significant reduction of symptoms in IBS patients on a low FODMAP diet (<a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1365-277X.2011.01162.x">3</a>).</small></h4>
        </div>

        <h2 class="pt-3">Where can I learn more?</h2>
        <div class="container">
            <h4><small class="text-muted">A helpful overview of FODMAPs can be found in Kris Gunnars' article <a href="https://www.healthline.com/nutrition/fodmaps-101">here</a>, and for a deeper look try starting with this <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1440-1746.2009.06149.x">scholarly review</a></small></h4>
        </div>
    </div>
</div>