
@{
    ViewBag.Title = "About Us";
}

<h1 class="display-4 pt-3 text-center">FOD<a class="font-weight-bold">finder</a></h1>
<h3 class="display-4 text-center>Created by the Alphabytes</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h2 class="pt-3">Who are the Alphabytes?<a class="font-weight-bold"></a></h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    The Alphabytes are a team of developers from Western Oregon University who are working on their Senior Capstone project.
                    They are currently in their final year of their undergraduate degree in Computer Science and have been building this website
                    over the courses CS 460-462: Software Engineering I, II, and III. You can find the repository with all their code on 
                    <a href="https://github.com/gibsgibs/TheAlphabytes">Github</a>.
                </small>
            </h4>
        </div>

        <h2 class="pt-3">What is the purpose of this website?</h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    The purpose of this project is to help people pursuing a Low <a href="/FodmapInfo/Index">FODMAP</a> diet. Specifically,
                    this web application is designed with intention to help reduce symptoms for IBS sufferers, to find out more about IBS
                    visit our <a href="/IbsInfo/Index">IBS info page</a>.
                </small>
            </h4>
        </div>

        <h2 class="pt-3">Meet our Development Team</h2>
        <div class="container">
            <h4><small class="text-muted">Any food rated as "Low FODMAP" contains no known high FODMAP ingredients and should be safe to eat for anyone on a low FODMAP diet.</small></h4>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <p>Note: The algorithm has been updated to include user labeled high-risk and low-risk ingredients!</p>
        </div>
    </div>
</div>