
@{
    ViewBag.Title = "About Us";
}

<h1 class="display-4 pt-3 text-center">FOD<a class="font-weight-bold">finder</a></h1>
<h3 class="display-5 text-center">Created by the Alphabytes</h3>
<hr />

<div class="row justify-content-center">
    <div class="col-sm-8">

        <h2 class="pt-3">What is the purpose of this website?</h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    The purpose of this project is to help people pursuing a Low <a href="/FodmapInfo/Index">FODMAP</a> diet. Specifically,
                    this web application is designed with intention to help reduce symptoms for IBS sufferers, to find out more about IBS
                    visit our <a href="/IbsInfo/Index">IBS info page</a>.
                </small>
            </h4>
        </div>

        <h2 class="pt-3">Who are the Alphabytes?<a class="font-weight-bold"></a></h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    The Alphabytes are a team of developers from Western Oregon University who are working on their Senior Capstone project.
                    They are currently in their final year of their undergraduate degree in Computer Science and have been building this website
                    over the courses CS 460-462: Software Engineering I, II, and III. You can find the repository with all their code on
                    <a href="https://github.com/gibsgibs/TheAlphabytes">Github</a>.
                </small>
            </h4>
        </div>

        <h2 class="pt-3">Meet our Development Team</h2>
        <div class="container">
            <div class="card my-5">
                <div class="row no-gutters d-flex">
                    <div class="col-auto mx-auto">
                        <img src="~/Content/Images/gabe.jpg" class="img-fluid rounded-circle m-2 dev-img shadow" alt="">
                    </div>
                    <div class="col-md d-flex">
                        <div class="card-block my-auto mx-3">
                            <h4 class="card-title">Gabriel Brehm</h4>
                            <h4 class="mb-3">
                                <small class="text-muted">
                                    My name is Gabriel, but my friends call me Gibs. I enjoy designing software solutions to complex problems, long walks to the gym, getting my pump on, deepening my understanding of mathematics, and doing sit-ups.
                                    Oh, and I love sushi.
                                </small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-muted">
                    <h6 class="my-auto"><a href="https://github.com/gibsgibs">Find Gabriel On Github</a></h6>
                </div>
            </div>

            <div class="card my-5">
                <div class="row no-gutters d-flex">
                    <div class="col-auto mx-auto">
                        <img src="~/Content/Images/cassidy.jpg" class="img-fluid rounded-circle m-2 dev-img shadow" alt="">
                    </div>
                    <div class="col-md d-flex">
                        <div class="card-block my-auto mx-3">
                            <h4 class="card-title">Cassidy Ryan</h4>
                            <h4 class="mb-3">
                                <small class="text-muted">
                                    My name is Cassidy, I am a world traveller and with a mind for databases and a fascination with mathematical modeling. I'm from Oregon, but I spent two years living in a small village in Ireland. I love the outdoors and I consider myself an introverted adventurer.
                                </small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-muted">
                    <h6 class="my-auto"><a href="https://github.com/CBullockRyan">Find Cassidy On Github</a></h6>
                </div>
            </div>

            <div class="card my-5">
                <div class="row no-gutters d-flex">
                    <div class="col-auto mx-auto">
                        <img src="~/Content/Images/jensen.jpg" class="img-fluid rounded-circle m-2 dev-img shadow" alt="">
                    </div>
                    <div class="col-md d-flex">
                        <div class="card-block my-auto mx-3">
                            <h4 class="card-title">Jensen Almquist</h4>
                            <h4 class="mb-3">
                                <small class="text-muted">
                                    My name is Jensen, I was born and raised in the Pacific Northwest and I love it here. I enjoy puzzles of every kind as well as playing any instrument with strings on it, spending time with loved ones, and a strong cup of tea. Oh also I love sushi more than Gibs don't let him tell you otherwise.
                                </small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-muted">
                    <h6 class="my-auto"><a href="https://github.com/jalmquist18">Find Jensen On Github</a></h6>
                </div>
            </div>

            <div class="card my-5">
                <div class="row no-gutters d-flex">
                    <div class="col-auto mx-auto">
                        <img src="~/Content/Images/tanner.jpg" class="img-fluid rounded-circle m-2 dev-img shadow" alt="">
                    </div>
                    <div class="col-md d-flex">
                        <div class="card-block my-auto mx-3">
                            <h4 class="card-title">Tanner Hill</h4>
                            <h4 class="mb-3">
                                <small class="text-muted">
                                    My name is Tanner and I specialize in mobile and responsive web development. Between coding and video games, I haven't felt the warm touch of the sun in decades. Ideally I'd like to go for a walk sometime.
                                </small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-muted">
                    <h6 class="my-auto"><a href="https://github.com/thill7">Find Tanner On Github</a></h6>
                </div>
            </div>

            
                                   
        </div>

        <h2 class="pt-3">How was this website developed?</h2>
        <div class="container">
            <h4>
                <small class="text-muted">
                    The tools and packages used for the development of this website are:<br />
                    Microsoft Visual Studio Community 2019<br />
                    Version 16.3.5<br />
                    VisualStudio.16.Release/16.3.5+29411.108<br /><br />

                    Microsoft .NET Framework<br />
                    Version 4.8.03752<br />
                    <br />
                    SQL Server Data Tools 16.0.61908.27190<br />
                    Microsoft SQL Server Data Tools<br />
                    <br />
                    Bootstrap 4.4.1<br />
                    <br />
                    EntityFramework 6.4.0<br />
                    <br />
                    React 16.x
                </small>
            </h4>
        </div>
    </div>
</div>