@{
    ViewBag.Title = "Home Page";
}

<div id="heroImage">
    <img src="~/Images/swim-864383_1920.jpg" alt="" />
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="h1 text-center">
                Do you believe us now???
            </div>
        </div>
    </div>
</div>