@model class_project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage My Account";
}

<div class="row justify-content-center pt-5">
    <div class="card">
        <h2 class="card-header">@ViewBag.Title</h2>
        <div class="card-body">
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change my password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="row justify-content-center pt-4">
    <p class="text-success">@ViewBag.StatusMessage</p>
</div>
