@model IEnumerable<FODfinder.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Users";
}

<div class="container-fluid pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow">
                <div class="card-header bg-secondary text-gray text-center">
                    <h4>Manage Users</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th class="text-gray">Username</th>
                            <th class="text-gray">Email</th>
                            <th class="text-gray">Actions</th>
                        </tr>
                        @foreach (var user in Model)
                        {
                            <tr>
                                @if (!(user.Id == User.Identity.GetUserId()))
                                {
                                    <td>@Html.DisplayFor(model => user.UserName)</td>
                                    <td class="mx-auto">@Html.DisplayFor(model => user.Email)</td>
                                    <td>@Html.ActionLink("Delete Account", "Delete", new { id = user.Id })</td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

