@model FODfinder.Models.SavedFood

@{
    ViewBag.Title = "Delete Food";
}

<div class="container-fluid pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow">
                <div class="card-header bg-secondary text-gray text-center">
                    <h4>Delete Food</h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid p-2">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <h5 class="text-center">
                                Are you sure you want to remove <span class="text-capitalize">@Model.desc.ToLower()</span> from your list?
                            </h5>
                            <div class="input-group pt-3">
                                <button type="submit" class="btn btn-light ml-auto p-2" id="PromoteDemoteForm">Remove</button>
                                <div class="p-2"></div>
                                @Html.ActionLink("Nevermind", "Index", new { id = Model.listID }, new { @class = "btn btn-light mr-auto p-2", id = "PromoteDemoteForm" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
