@model IEnumerable<FODfinder.Models.SavedFood>

@{
    ViewBag.Title = "Index";
}

    <div class="container-fluid pt-5 pb-5 rounded bg-secondary">
        <div class="row justify-content-center">
            <h1 class="text-gray">Saved Foods</h1>
        </div>
        

        <div class="container pt-2">
            <div class="list-group">
                <div class="list-group-item bg-secondary">
                    <div class="row text-gray h5 mb-0">
                        <div class="col-3">Food</div>
                        <div class="col-3">Brand</div>
                        <div class="col-3">UPC</div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="list-group">
                    <div class="list-group-item FoodLink" onclick="location.href='/food/details/@item.usdaFoodID'">
                        <div class="row text-gray text-capitalize">
                            <div class="col-3 align-self-center">
                                @item.desc.ToLower()
                            </div>
                            <div class="col-3 align-self-center">
                                @item.brand.ToLower()
                            </div>
                            <div class="col-3 align-self-center">
                                @item.upc
                            </div>
                            <div class="col-3 align-self-center">
                                @Html.ActionLink("Delete", "Delete", new { usdaFoodID = item.usdaFoodID, userID = item.userID }, new { @class = "btn btn-light" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>