@model IEnumerable<FODfinder.Models.SavedFood>

@{
    ViewBag.Title = "Index";
}

    <div class="container-fluid pt-5 pb-3 rounded bg-secondary">
        <div class="row justify-content-center">
            <h1 class="text-gray">Saved Foods</h1>
        </div>
        

        <table class="table">
            <tr class="text-gray d-flex">
                <th class="col-4">Food</th>
                <th class="col-4">Brand</th>
                <th class="col-4">UPC</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="bg-white d-flex rounded">
                    <td class="text-gray col-4">
                        @Html.DisplayFor(modelItem => item.desc)
                    </td>
                    <td class="text-gray col-4">
                        @Html.DisplayFor(modelItem => item.brand)
                    </td>
                    <td class="text-gray col-4">
                        @Html.DisplayFor(modelItem => item.upc)
                    </td>
                </tr>
            }

        </table>
    </div>